body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.home-page {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: lightblue;
}

/* NEW */
.game-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 30px;
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    color: black;
}

/* Changed from 400px to a smaller size */
.game-card img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}

.game-card span {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
}

.game-box {
    width: 250px;
    height: 320px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button {
    position: fixed;

    top: 20px;
    left: 20px;

    padding: 10px 15px;

    background-color: white;
    color: black;

    text-decoration: none;

    border-radius: 8px;
    font-weight: bold;
}

.delete-button {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 15px;

    background-color: red;
    color: white;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}