<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/hangman.css') }}">

    {% block css %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% if session.user_id %}
        <nav class="topnav">
            <span>Welcome, {{ session.username }}</span>
            <a href="{{ url_for('logout') }}" class="logout-btn">Logout</a>
        </nav>
    {% endif %}

    {% block body %}{% endblock %}

</body>
</html>